---
---

@import "{{ site.theme }}";

.page-header {
  @include large {
    padding: 2.5rem 1rem 0.5rem;
  }

  @include medium {
    padding: 2.5rem 1rem 0.5rem;
  }

  @include small {
    padding: 2.5rem 1rem 0.5rem;
  }
}

.site-footer { text-align: center; }
